<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" (click)="selectGroup(0)">Gruppe1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="selectGroup(1)">Gruppe2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="selectGroup(2)">Gruppe3</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" (click)="selectGroup(3)">Gruppe4</a>
  </li>
</ul>

<div class="container margin-top-5 mb-5">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="newGameForm" class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" id="exampleInputName2" placeholder="HomePlayer" formControlName="homePlayer">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" id="exampleInputName2" placeholder="0" formControlName="homeGoals">
        </div>
        <div class="form-group">
          <input type="number" class="form-control" id="exampleInputName2" placeholder="0" formControlName="awayGoals">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="exampleInputEmail2" placeholder="AwayPlayer" formControlName="awayPlayer">
        </div>
        <button type="submit" class="btn btn-default" (click)="postGame()">Submit Result</button>
      </form>
    </div>
  </div>
</div>

<div class="container margin-top-5">
  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Platzierung</th>
            <th scope="col">Name</th>
            <th scope="col">Punkte</th>
            <th scope="col">Tore</th>
          </tr>
        </thead>
        <tbody *ngFor>
          <tr>
            <th scope="row">1</th>
            <td>{{player.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
