<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" (click)="selectGroup(1)">Gruppe1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="selectGroup(2)">Gruppe2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="selectGroup(3)">Gruppe3</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="selectGroup(4)">Gruppe4</a>
  </li>
</ul>

<div class="container margin-top-5" (click)="this.focusRow = undefined">
    <div class="card">
      <div class="card-header">Tabelle</div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Punkte</th>
              <th scope="col">Tordifferenz</th>
            </tr>
          </thead>
          <tbody *ngFor="let player of this.table">
            <tr>
              <td>{{player.name}}</td>
              <td>{{player.points}}</td>
              <td>{{player.goalsScored - player.goalsConceeded}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<div class="container margin-top-5 mb-5">
  <div class="card">
    <div class="card-header">Neues Spiel eintragen</div>
    <div class="card-body">
      <form [formGroup]="newGameForm" class="form-inline justify-content-center">
        <div class="row justify-content-center">
          <div class="form-group col-sm-">
            <input type="text" class="form-control mr-1" placeholder="HomePlayer" formControlName="homePlayer">
          </div>
          <div class="form-group col-sm-">
            <input type="number" class="form-control mr-1" placeholder="0" formControlName="homeGoals">
          </div>
          <div class="form-group col-sm-">
            <input type="number" class="form-control mr-1" placeholder="0" formControlName="awayGoals">
          </div>
          <div class="form-group col-sm-">
            <input type="text" class="form-control mr-1" placeholder="AwayPlayer" formControlName="awayPlayer">
          </div>
          <input type="submit" class="form-control btn btn-primary" (click)="postGame()" value="submit">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container margin-top-5">
  <div class="card">
    <div class="card-body">
      <div *ngFor="let game of this.games" (click)="setEditableFocus(game.id)">
        <div *ngIf="game.id == this.focusRow" class="row justify-content-center">
          <form [formGroup]="editGameForm" class="form-inline justify-content-center">
            <div class=" form-group text-center col-sm-3">
              {{game.homePlayer}}
            </div>
            <div class="form-group col-sm-2">
              <input type="number" class="form-control form-width" placeholder="0" formControlName="editHomeGoals">
            </div>
            <div class="form-group text-center col-sm-1">
              :
            </div>
            <div class="form-group col-sm-2">
              <input type="number" class="form-control form-width" placeholder="0" formControlName="editAwayGoals">
            </div>
            <div class="form-group text-center col-sm-2">
              {{game.awayPlayer}}
            </div>
            <div class="form-group col-sm-1">
                <button type="submit" class="btn btn-primary" (click)="editGame(game.id, game.homePlayer, game.awayPlayer)">Submit</button>
            </div>
          </form>
        </div>
        <div *ngIf="game.id != this.focusRow" class="row"> 
          <div class="col-sm-3 text-center">{{game.homePlayer}}</div>
          <div class="col-sm-2 text-center">{{game.homeGoals}}</div>
          <div class="col-sm-1 text-center">:</div> 
          <div class="col-sm-2 text-center">{{game.awayGoals}}</div> 
          <div class="col-sm-3 text-center">{{game.awayPlayer}}</div>
        </div>
      
      </div>
    </div>
  </div>
</div>


